<h2 id="monthTitle"></h2>

<label for="month">Insert Month/Year:
</label>
  <input type="text" name="month" id="month" placeholder="" required>
</label>

<h2>Square Image</h2>

<div class="image-container thumb">
  <% @covers[0..3].each do |cover| %>
    <%= image_tag("covers/#{cover}") %>
  <% end %>
</div>

<button id="downloadThumbGallery">Download</button>

<h2>Featured Image</h2>

<div class="image-container featured">
  <% @covers.each do |cover| %>
    <%= image_tag("covers/#{cover}") %>
  <% end %>
</div>

<button id="downloadFeaturedGallery">Download</button>

<h2>JSON object</h2>

<form>
  <label for="tracklistData" style="display: block; margin-bottom: 1rem;">Tracklist data:</label>
  <textarea id="tracklistData" rows="25"></textarea>
  <br>
  <button type="button" id="copyButton">Copy to Clipboard</button>
</form>